parameters:
    level: 6
    paths:
        - bin/
        - config/
        - src/
        - tests/
    excludePaths:
        - tests/
    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml

    ignoreErrors:
        - '#Unsafe usage of new static#'
        - '#Call to an undefined method [a-zA-Z0-9_\\]+::[a-zA-Z0-9_]+\(\)#'
        - '#Access to an undefined property [a-zA-Z0-9_\\]+::\$\w+#'
        - '#Call to an undefined method Symfony\Component\DependencyInjection\ContainerInterface::get\(\)#'
        - '#Service ".*" is not registered in the container#'

    reportUnmatchedIgnoredErrors: false
